.card {
	&__desc {
		border: none;
		height: 250px;
		margin-bottom: 1em;
	}

	&__person {
		max-width: 100%;
		overflow: hidden;
	}
	&__image {
		max-width: 100%;
		height: 450px;
		border-radius: 5px;
		overflow: hidden;
	}
	&__work {
		max-width: 320px;
		height: 220px;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba($black, 0.1);
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: $boxShadow;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 5px;
			opacity: 0;
			box-shadow: 0 5px 15px rgba($black, 0.9);
			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:hover {
			transform: scale(1.3);
		}
		&:hover:after {
			opacity: 1;
		}
	}
}

.btn-dark {
	margin-right: 1em;
}

.list-group-item {
	border: none;
	background-color: rgba(getColour(light-brown), 0.5);
}

.list-group-item.active {
	color: getColour(black);
	background-color: getColour(light-brown);
	border-color: getColour(light-brown);
	text-transform: uppercase;
}

.profile-container {
	margin-bottom: 5em;
}
