//Theme
$colours: (
	brown: #a07157,
	light-brown: #a3745a,
	indigo: #4a4f96,
	black: #000000,
	copy: #666666,
	sunny: #fdc83a,
	white: #ffffff,
);

@function getColour($colour) {
	@return map-get($colours, $colour);
}

//Webresponsive elements
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large: 1400px;
