footer {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	text-align: center;
	font-size: 0.8rem;
	padding: 0.75em;
	background-color: rgba(getColour(brown), 0.9);
}

.icons-container {
	max-width: 70%;
	justify-content: center;
	margin: 0 auto;
}

.social-icons {
	cursor: pointer;
}

.social-icons img {
	background-color: getColour(sunny);
	border-radius: 50%;
	&:hover {
		background-color: getColour(white);
	}
}
